<!-- TODO: why is the class named movie-overview? -->
<section class="movie-overview" ng-controller="DocumentController">
	<ul>
		<li ng-repeat="document in documents">
			<img src="img/spaltentyp_icon_documents.png"
			height="17"
			width="20"
			alt="Representation of a directory"
			class="icon">

			<a href="http://roca.local:8080/centerdevice-roca/document/{{document.id}}" title="{{document.title}}">
				{{document.filename}}
			</a>

			<div class="summary">
				<span class="author">{{document.owner.name}}</span>
				<time datetime="{{document.uploaddate}}">{{document.uploaddate | date:'dd.MM.yyyy HH:mm'}}</time>
				<span class="filesize">{{document.size}}</span>
			</div>
		</li>
	</ul>
</section>