<div class="welcome" role="main">
	<h1>
		<img src="img/cd_logo.png" alt="centerdevice Logo">
	</h1>
	<p>
		To use this demo version of centerdevice, you will need to authenticate
		with centerdevice. You can do so by clicking on the button below.
	</p>

	<p class="note">
		In case you are wondering: The demo application will not have any
		information about your login credentials as you will be redirected to
		centerdevice for authentication purposes.
	</p>

	<a href="http://roca.local:8080/centerdevice-roca/login?redirect={{redirectUrl}}" class="btn btn-primary btn-block">Login</a>
</div>