<div class="banner">
</div >

<header>
  <a href="#/logout">Logout</a>
  
  <h1>
    centerdevice - structure without directories
    <img src="assets/img/cd_logo.png" alt="centerdevice Logo">
  </h1>

  <form class="form-search" ng-controller="SearchCtrl">
    <input type="search"
    class="input-xlarge search-query"
    placeholder="Enter search query"
    autofocus
    ng-model="keywords">
    <button type="submit" class="btn btn-inverse" ng-click="search()">Search</button>
  </form>

  <form action="http://roca.local:8080/centerdevice-roca/documents" method="POST" enctype="multipart/form-data">
    <input type="file" name="document">
    <button type="submit" class="btn btn-inverse">Upload File</button>
  </form>
</header>