<header>
  <a href="#/logout">Logout</a>

  <img src="assets/img/cd_logo.png" alt="centerdevice Logo">

  <form class="form-search" ng-controller="SearchCtrl">
    <input type="search"
    class="input-xlarge search-query"
    placeholder="Enter search query"
    autofocus
    ng-model="keywords">
    <button type="submit" class="btn btn-inverse" ng-click="search()">Search</button>
  </form>

  <form class="form-upload" action="{{baseServiceUrl}}/documents/json?redirect={{currentUrl}}" method="POST" enctype="multipart/form-data" ng-controller="FileUploadCtrl">
    <button type="button" class="btn btn-inverse" ng-click="selectFile()">Upload File</button>

    <div class="hidden">
      <input id="fileSelector" type="file" name="document">
      <button id="uploadButton" type="submit" class="btn btn-inverse">Upload File old</button>
    </div>
  </form>
</header>